* {
  margin: 0;
  padding: 0;
}

.logo {
  display: flex;
  flex: 1;
  padding: 0px 0px 0px 80px;
  /* border: 1px solid red; */
}

.main-container {
  display: flex;
  align-items: center;
  flex: 1;
  background-color: white;
  border: 1px solid black;
}

.list {
  display: flex;
  flex: 3;
  /* border: 1px solid green; */
}

.main-container .list ul {
  display: flex;
  gap: 15px;
}

.main-container .list ul li {
  list-style: none;
}
.main-container .list ul li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.btn{
  margin-right: 50px;

}

.btn button {
  width: 70px;
  padding: 10px;
  margin:5px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn button:last-child{
    background-color: orange;
}